.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
.middle {
    display: table-cell;
    vertical-align: middle;
}
  
.inner {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    /* Whatever width you want */
}

.btn {
    margin-top: 10px;
    margin-right: 5px;
}

.alert {
    margin-top: 5px;
}

.navigacija {
    position: sticky; top: 0;
    background-color: whitesmoke;
    height: 60px;
}

.navigacija-text {
    margin-left: 20px;
    font-weight: bold;
    font-size: 30px;
    margin-top: 5px;
}

body {
    background-color: rgba(0, 0, 0, 0.5);
}